@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

* {
  font-family: "Ubuntu Sans Mono", monospace;
}

html, body, #root {
  background-color: #2f2c38;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.user {
  border-radius: 5px;
  border-width: 0px;
  text-align: left;
  background-color: #3e3a49;
  color: white;
  transition: transform .08s, box-shadow .08s, background-color .02s;
}

.user:hover {
  background-color: #272430;
  box-shadow: 4px 4px #1a1820;
}

.user:active {
  background-color: #454053;
  box-shadow: 2px 2px #78718b;
  transform: translate(2px, 2px);
}

.offline {
  opacity: 0.5;
}

.avatar {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding-left: 5px;
  float: left;
}

userstatus {
  font-size: x-small;
}

.userList {
  float: right;
  background-color: #3e3a49;
  padding-top: 10px;

  width: 230px;
  height: calc(100% - 10px);
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;

  overflow-y: scroll;
  overflow-x: hidden;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

a {
  color: cornflowerblue;
}

::-webkit-scrollbar {
  background-color: #ffffff00;
  width: 6px;
  border-radius: 3px;
  margin: 15px;
  padding-right: 10px;
  transition: background-color .3s;
}
::-webkit-scrollbar:hover {
  background-color: #474352;
}

::-webkit-scrollbar-thumb {
  background-color: #27243000;
  border-radius: 3px;
  width: 6px;
  transition: opacity .3s;
  opacity: 0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #272430;
}

.MessageContainer {
  float: right;
  margin: 3px;
  /* background-color: #f0f !important; */
  display: flex;
  flex-direction: column;
  width: calc(67% + 6px);
  overflow-x: hidden;
  overflow-y: scroll;
  flex-wrap: nowrap;
  height: calc(90% - 3px);
  flex: 1;
}

.title {
  float: right;
  height: 20px;
  padding: 10px;
  color: white;
  min-height: 20px;
  max-height: calc(5% - 14px);
  width: calc(67% - 14px);
  background-color: #3e3a49;
  margin: 7px;
  margin-bottom: 0px;
  border-radius: 5px;
  font-weight: 500;
}

.title div .hash {
  color: #706a7e;
  width: 15px;
  /* font-size: large; */
}

.title div .sub {
  color: #706a7e;
  padding-top: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: small;
  text-align: left;
  word-wrap: break-word;

}

.title div .main {
  width: auto;
  padding-right: 15px;
}

.title div *{
  float: left;
} 