.grey     { color: #B0BEC5; }
.gray     { color: #B0BEC5; }
.red      { color: #EF9A9A; }
.pink     { color: #F48FB1; }
.purple   { color: #CE93D8; }
.lavender { color: #B39DDB; }
.blue     { color: #81D4FA; }
.teal     { color: #80CBC4; }
.green    { color: #A5D6A7; }
.yellow   { color: #FFF59D; }
.orange   { color: #FFCC80; }
.brown    { color: #BCAAA4; }
.white    { color: #FFFFFF; }
